<nav>
     <div class="nav-wrapper">
       <a routerLink="" href="#" class="brand-logo right">Angular</a>
       <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li routerLinkActive="active"><a routerLink="/login" href="sass.html">Login</a></li>
         <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}" href="badges.html">Cursos</a></li> <!--estou passando o parâmetro de paginação para a rota (queryParams)-->
         <!-- <li routerLinkActive="active"><a [routerLink]="['cursos', idCurso.value]" href="badges.html">Curso ID</a></li>  --> <!--estou passando o parâmetro para a rota -->
         <li routerLinkActive="active"><a routerLink="/alunos" href="sass.html">Alunos</a></li>
       </ul>
     </div>
   </nav>
         
<div class="container">
    <!-- <p>No campo abaixo, digite o ID do curso:</p>
    <input #idCurso> -->
    <router-outlet></router-outlet>
</div>
